
<ion-header padding>
  
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()" fill="clear">
          <ion-icon name="arrow-round-back"></ion-icon>
         
      </ion-button>
      <div class="title">Report a message</div>
  </ion-buttons>

   
</ion-header>

  
  <ion-content padding>
  
        <ion-item>
      
          <ion-textarea [(ngModel)]="messageDetails.message" required="required" placeholder="Enter your message"></ion-textarea>
        </ion-item>
  
        <ion-item>
    
          <ion-input [(ngModel)]="messageDetails.comment" required="required" type="text" placeholder="Add your comment here"></ion-input>
        </ion-item>
  
      <div style="padding-top:30px;"></div>
  
      <ion-list>
        <ion-radio-group>
        <ion-list-header>
          Select your option
        </ion-list-header>
  
        <ion-item>
          <ion-label>Spam</ion-label>
          <ion-radio checked="true" (click)="selectChoice('Spam')" value="spam"></ion-radio>
        </ion-item>
  
        <ion-item>
          <ion-label>Not spam</ion-label>
          <ion-radio (click)="selectChoice('Not spam')" value="not spam"></ion-radio>
        </ion-item>
      </ion-radio-group>
      </ion-list>
  
      <div align="center" padding>
        <ion-button  color="primary" shape="round" (click)="submit()">Submit</ion-button>
      </div>
  
  </ion-content>
  